
.login{
    color: #039124;
    font-size: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-top: 0.8em;
}
.idpasswordlabel{
    display: block;
    font-size: 30px;
}
input[type=text], input[type=password], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}
.btn{
    background-color: #039124;
    color:white;
    height: 5em;
    width: 8em;
    margin-top: 5px;
    text-transform: uppercase;
}
.border{
    padding-bottom: 0.8em;
    border: 0.2em solid black;
}
.table th,tr,td{
    border: 0.2em solid black;
    text-align: center;
}
.marginbottom{
    margin-bottom: 20px!important;
}
.btnman{
    background-color: #039124;
    color:white;
    height: 5em;
    width: 12em;
    margin-top: 5px;
}
.search{
    width: 40% !important;
}
.btnmanager{
    width: 6em;
    height: 3.2em;
    margin-top:0 !important;
    border-color: #4CAF50 !important;
    color: green;
    background-color: #d2d9d4;
}